body {
	background-color: #a5e0da;
	font-family: helvetica;
	font-size: 1em;
	color: #6589C5;
}

.charbox {
	width: 85%;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 7%;
	background-color: white;
	border: 3px solid rgb(101, 137, 197);
	border-radius: 3px;
}

.charcontent {
	text-align: center;
	padding: 5vw 7vw;
	max-height: 100vh;
	height: auto;
	overflow-y: scroll;
}

.charcontent img {
	border-radius: 3px;
	width: 50vw;
	margin-bottom: -0.6vh;
}

.charcontent img:hover {
	opacity: 75%;
	transition: ease-in-out 0.3s;
}

.infobox {
	border: 3px solid rgb(101, 137, 197);
	border-radius: 3px;
	width: 55vw;
	margin: auto;
	margin-top: 5vw;
}

.infoboxtop {
	background-color: #6589C5;
	padding: 0.1vw;
	color: white;
}

.infoboxtop h1 {
	margin-top: 1vw;
}

.infoboxtop h3 {
	margin-top: -20px;
	margin-bottom: 1.5vw;
}

.basicinfo {
	border: 3px solid rgb(101, 137, 197);
	border-radius: 3px;
	width: 35vw;
	margin: auto;
}

.basicinfo h3 {
	background-color: #6589C5;
	padding: 1vw;
	margin-top: -3px;
	color: white;
}

.leftcontent {
	float: left;
	margin-left: 25px;
}

.rightcontent {
	float: right;
	margin-right: 25px;
	color: #94ABD1;
}

.description {
	padding: 1vw 7vw;
}

.quote {
	color: #94ABD1;
	padding: 1vw 7vw;
}

.infobottomspace {
	height: 3vw;
}

.backbutton a {
	text-align: left;
	color: white;
	background-color: #6589C5;
	width: 3.5vw;
	padding: 0.5vw;
	border-radius: 3px;
	text-decoration: none;
}

.backbutton a:hover {
	color: #FFF5A6;
	zoom: 110%;
	transition: ease-in-out 0.2s;
}

.backbutton a.inactive {
	opacity: 50%;
	color: white;
	zoom: 100%;
}

.charbottomspace {
	height: 8vw;
}