body {
	background-color: #a5e0da;
	font-family: helvetica;
	color: #6589C5;
}

.logo {
	width: 22vw;
	padding: 1vw;
	margin-bottom: -1vw;
}

.socmeds {
	width: 10%;
	position: fixed;
	top: 5vh;
	left: 0;
}

.socmeds img {
	width: 5vw;
	border-radius: 5px;
	margin: 0.5vh 1vw;
}

.socmeds img:hover {
	transform: scale(1.2);
	transition: ease-in-out 0.2s;
	color: white 75%;
}

.mainbox {
	width: 85%;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 7%;
	background-color: white;
	border: 3px solid rgb(101, 137, 197);
	border-radius: 3px;
}

.mbcontentholder {
	display: flex;
}

.navbar {
	width: 30vw;
	max-height: 100vh;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #6589C5;
}

.navbar a {
	display: block;
	font-size: 1em;
	color: white;
	text-decoration: none;
	padding: 0.5vw 1.5vw;
	margin: 1vw;
	background-color: #a5e0da;
	border-radius: 3px;
	text-align: center;
}

.navbar a:hover {
	color: #FFF5A6;
	zoom: 110%;
	transition: ease-in-out 0.2s;
}

.navbar a.active {
	color: #FFF5A6;
	zoom: 110%;
}

.navbar p {
	font-size: 1.5vw;
	color: white;
	padding: 0vw;
	text-align: center;
}

.mbcontent {
	width: 55vw;
	max-height: 100vh;
	height: auto;
	padding: 2vw 7vw;
	text-align: center;
	overflow-y: scroll;
}

.mbcontent h1 {
	font-size: 2em;
}

.mbcontent h3 {
	font-size: 1.17em;
	margin-top: 25px;
	margin-bottom: 15px;
}

.mbcontent a {
	color: #6589C5;
}

.mbcontent a:hover {
	opacity: 75%;
	transition: ease-in-out 0.2s;
}

.mbcontent p {
	font-size: 1em;
}

.mbcontent li {
	font-size: 1em;
	text-align: left;
}

.mbcontent img {
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 3px;
}

.mbcontent ul {
	margin-bottom: 30px;
}

.updatelog {
	border: 2px solid rgb(101, 137, 197);
	border-radius: 3px;
	width: 40vw;
	margin: 25px auto auto auto;
	padding-bottom: 2.5vw;
}

.updatelog h3 {
	margin: 15px auto 5px auto;
}

.updatelog li {
	padding-right: 2.5vw;
}

.updatelogcontent {
	max-width: 40vw;
	width: 40vw;
	max-height: 35vh;
	height: auto;
	overflow-y: scroll;
	margin: auto;
}

.information {
	display: inline-block;
	width: 45vw;
}

.infotext {
	width: 20vw;
	float: left;
	text-align: left;
}

.infoimg {
	max-width: 20vw;
	max-height: 100vh;
	overflow: hidden;
	float: right;
}

.infoimg img {
	width: 20vw;
	height: 80vh;
	object-fit: cover;
	object-position: 50% 50%;
}

.archivetext {
	text-align: left;
}

.archivecontainer {
	max-height: 30vh;
	height: 30vh;
	overflow-y: scroll;
}

.gallerythumb {
	display: inline-block;
	border-radius: 3px;
	background-color: #6589C5;
	max-width: 5vw;
	width: 5vw;
	max-height: 5vw;
	height: 5vw;
}

.gallerythumb img {
	width: 5vw;
	height: 5vw;
	margin: 0vw;
	border-radius: 3px;
	object-fit: cover;
	object-position: 50% 50%;
}

.gallerythumb img:hover {
	opacity: 75%;
	transition: ease-in-out 0.3s;
}

.charicon {
	display: inline-block;
	border-radius: 3px;
	background-color: #6589C5;
	max-width: 5vw;
	width: 5vw;
	max-height: 5vw;
	height: 5vw;
}

.charicon img {
	width: 5vw;
	height: 5vw;
	margin: 0vw;
	border-radius: 3px;
}

.sublist {
	margin-left: 2vw;
}

.bottomspace {
	height: 7vw;
}
