body {
	background-color: #d9d9d9;
	text-align: center;
	font-family: courier;
	text-size-adjust: none;
}

body::-webkit-scrollbar {
	display: none;
}

p {
	color: black;
	margin: 15px 50px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: blue;
}

a:hover {
	color: #8484FF;
	transition: ease-in-out 0.2s;
}

a.active {
	color: black;
}

a.active:hover {
	color: black;
	font-size: 24px;
	transition: none;
	cursor: default;
}

img {
	border-radius: 5px;
}

.logo {
	width: 300px;
}

.navbar {
	margin: 25px;
}

.navbar a {
	font-size: 24px;
	padding-left: 15px;
	padding-right: 15px;
}

.periodictable {
	margin: 15px 50px;
}

.maintable {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(18, 1fr);
	gap: 5px;
}

.fblock {
	margin-top: 25px;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(18, 1fr);
	gap: 5px;
}

.periodictable img {
	width: 100%;
	border-radius: 5px;
	background-color: white;
}

.periodictable img:hover {
	transform: scale(1.2);
	transition: ease-in-out 0.2s;
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.popupcontent {
	background-color: white;
	width: 768px;
	height: 500px;
	padding: 0px 20px;
	border-radius: 5px;
	position: relative;
}

.popupcontent img {
	width: 300px;
	padding-top: 25px;
}

.prev {
	color: white;
	font-size: 75px;
	margin: 25px;
	cursor: pointer;
}

.prev:hover {
	transform: scale(1.2);
	transition: ease-in-out 0.2s;
	color: lightblue;
}

.previnactive {
	color: white;
	font-size: 75px;
	margin: 25px;
	cursor: default;
	opacity: 50%;
}

.next {
	color: white;
	font-size: 75px;
	margin: 25px;
	cursor: pointer;
}

.next:hover {
	transform: scale(1.2);
	transition: ease-in-out 0.2s;
	color: lightblue;
}

.portraitandinfos {
	display: flex;
	max-height: 500px;
	overflow-y: scroll;
}

.portraitandinfos::-webkit-scrollbar {
	display: none;
}

.portraitandinfos div {
	display: inline-block;
}

.portraitandinfos p {
	width: 400px;
	margin: 15px 0px;
	padding-right: 40px;
	padding-left: 40px;
	text-size-adjust: none;
}

p.title {
	font-size: 20px;
	margin-top: -15px;
}

.basicinfo {
	width: 375px;
	text-align: left;
	border: 1px solid black;
	border-radius: 5px;
}

span {
	display: inline-block;
}

.bold {
	font-weight: bold;
	color: black;
}

img.flag {
	width: 30px;
	margin-top: -30px;
	margin-bottom: -10px;
}

.bottomspace {
	height: 20px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 30px;
	cursor: pointer;
}

.close:hover {
	color: grey;
	transform: scale(1.2);
	transition: ease-in-out 0.2s;
}

.footer {
	width: 425px;
	margin: auto;
}

.footer p {
	color: white;
	background-color: grey;
	border-radius: 5px;
}

@media (max-width: 1080px) {

	.prev {
		margin: 10px;
	}

	.previnactive {
		margin: 10px;
	}

	.next {
		margin: 10px;
	}

}
