h1 {
	font-family: comic sans ms;
	color: rgb(223, 135, 182);
}
p {
	font-family: comic sans ms;
	color: rgb(223, 135, 182);
	margin-left: 25px;
	margin-right: 25px;
}
hr {
	border-top: 2px solid rgb(255, 181, 240);
}